---
layout: archive
title: "Gallery"
permalink: /gallery/
author_profile: true
---

{% include base_path %}

{% for post in site.gallery reversed %}
  {% include archive-single.html %}
{% endfor %}

<!-- MAIN (Center website) -->
<div class="main">

<h1>MYLOGO.COM</h1>
<hr>

<h2>PORTFOLIO</h2>
<p>Resize the browser window to see the responsive effect.</p>

<!-- Portfolio Gallery Grid -->
<div class="row">
  <div class="column">
    <div class="content">
      <img src="http://NatyaHans.github.io/files/Italy2.jpg" alt="Italy" style="width:100%">
      <h3>My Work</h3>
      <p>Lost in Venice </p>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <img src="http://NatyaHans.github.io/files/IMG-20170531-WA0019.jpg" alt="Windy" style="width:100%">
      <h3>My Work</h3>
      <p>With my advisor's dog </p>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <img src="http://NatyaHans.github.io/files/Rope4.jpeg" alt="Rope Climbing" style="width:100%">
      <h3>My Work</h3>
      <p>Rope Climbing at Lake Wauburg</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <img src="mountains.jpg" alt="Mountains" style="width:100%">
      <h3>My Work</h3>
      <p>Lorem ipsum..</p>
    </div>
  </div>
</div>

<div class="content">
  <img src="bear.jpg" alt="Bear" style="width:100%">
  <h3>Some Other Work</h3>
  <p>Lorem ipsum..</p>
</div>

<!-- END MAIN -->
</div>

