---
layout: archive
title: "Gallery"
permalink: /gallery/
author_profile: true
---

{% include base_path %}

{% for post in site.gallery reversed %}
  {% include archive-single.html %}
{% endfor %}


<!-- The grid: four columns -->
<div class="row">
  <div class="column">
    <img src="http://NatyaHans.github.io/files/Italy2.jpg" width="200" height="300" alt="Italian Trip" onclick="myFunction(this);">
  </div>
  <div class="column">
    <img src="http://NatyaHans.github.io/files/IMG-20170531-WA0019.jpg" width="200" height="300" alt="With Windy" onclick="myFunction(this);">
  </div>
  <div class="column">
    <img src="http://NatyaHans.github.io/files/Rope4.jpeg" width="200" height="300" alt="Rope Climbing at Lake Wauburg" onclick="myFunction(this);">
  </div>
</div>

<!-- The expanding image container -->
<div class="container">
  <!-- Close the image -->
  <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>

  <!-- Expanded image -->
  <img id="expandedImg" style="width:50%">

  <!-- Image text -->
  <div id="imgtext"></div>
</div>
